@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Secular+One&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #EFEFEF; */
  overflow-x: hidden;
}